extends ../layouts/base

block head
  title= "My Blog"

block content
  each post in posts
    mixin post(post)

  .pagination.group
    - for (var i = 0; i < pages.length; i++) {
      - var page = pages[i];
      - if (i === currentIndex - 1) {
        a.newer(href="#{data.baseUrl}#{page.url}") Newer &#8594;
      - } else if (i === currentIndex + 1) {
        a.older(href="#{data.baseUrl}#{page.url}") &#8592; Older
      - }
    - }
