meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(description="CleverStack, the Enterprise-grade, Open-Source Full-Stack JavaScript Framework built on NodeJS and Angular, MEAN and so much more!")
meta(keywords="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development, node.js, express, mongoose, mongodb, angularjs, swig, sequelize, sequelizejs, orm, odm, cli")
meta(author="Richard Gustin and contributors to the CleverStack Repositories")
link(rel="icon", type="image/png", href="#{data.baseUrl}images/cabin.png")

//- link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
link(href="http://cleverstack.io/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="http://cleverstack.io/dist/css/bootstrap-theme.min.css", rel="stylesheet")
link(href="http://cleverstack.io/dist/css/application.min.css", rel="stylesheet")
link(href="http://cleverstack.io/assets/css/docs.css", rel="stylesheet")
link(href="http://cleverstack.io/assets/css/pygments-manni.css", rel="stylesheet")

<!--[if lt IE 9]>
script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
<![endif]-->

<!--[if lt IE 9]>
<script src="#{data.baseUrl}js/ie8-responsive-file-warning.js"></script>
<![endif]-->

link(rel="shortcut icon" href="{data.baseurl}/assets/ico/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="#{data.baseUrl}assets/ico/apple-touch-icon.png")
link(rel="apple-touch-icon" sizes="57x57" href="#{data.baseUrl}assets/ico/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon" sizes="72x72" href="#{data.baseUrl}assets/ico/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="#{data.baseUrl}assets/ico/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="#{data.baseUrl}assets/ico/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="#{data.baseUrl}assets/ico/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="#{data.baseUrl}assets/ico/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="#{data.baseUrl}assets/ico/apple-touch-icon-152x152.png")

script(src="//load.sumome.com/" data-sumo-site-id="69cd5a7e9e5b6cbd0a351c910c5784d01a31896daa73f8a0b69e4725dac88a6d" async="async")
block head
  title= "{page.title} &middot; CleverStack.io"